body{
    background-color: rgb(31, 31, 187);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}
div{
    text-align: center;
}